$color-title:#2ab2af;
$color-subtitle: #c0df34;
$color-parrafo:#afafaf;
$color-grid-one: #ffffff;
$color-card-three: #4bbebc;
$font-size-p: 1.5rem;
* {
    box-sizing: border-box;
}
/* html {
    font-size: 62.5%;
} */
body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: #e5eff5;
}
.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    place-content: center;
    margin: 10% 25% 0 25%;
    .container-grid__one {
        background-color: $color-grid-one;
        text-align: start;
        padding: 30px;
        grid-column: 1 / 3;
        text-align: center;
        border-radius: 10px 10px 0 0;
        h2 {
            color: $color-title;
        }
        h4 {
            color: $color-subtitle;
        }
        p {
            color: $color-parrafo;
            font-size: 0.9rem;
        }
    }
    .container-grid__two {
        background-color: $color-title;
        width: 100%;
        height: 100%;
        padding: 30px;
        color: $color-grid-one;
        text-align: start;
        grid-column: -3;
        border-radius: 0 0 0 10px;
        h1 span {
            font-size: 0.7rem;
            padding: 0;
        }
        button {
            width: 200px;
            height: 45px;
            background-color: $color-subtitle;
            border: none;
            border-radius: 10px;
            font-weight: bold;
            color: $color-grid-one;
            cursor: pointer;
            outline: none;
        }
    }
    .container-grid__three {
        background-color: $color-card-three;
        width: 100%;
        height: 100%;
        color: $color-grid-one;
        font-size: 0.9rem;
        text-align: center;
        padding: 30px 30px 0 30px;
        border-radius: 0 0 10px 0;
    }
}
@media (max-width: 982px) {
    .container-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr) / repeat(3, 1fr);
        margin: 20px;
    }
}
@media (max-width: 520px) {
    .container-grid {
        display: grid;
        grid-template-columns: 1fr / 1fr;
        margin: 5% 20% 5% 28%;
        .container-grid__one {
            grid-column: 1;
        }
        .container-grid__two {
            grid-row: 2;
            border-radius: 0;
        }
        .container-grid__three {
            grid-row: 3;
            border-radius: 0 0 10px 10px;
        }
    }
}
